<div>
  <app-navbar></app-navbar>

  <div>
    <div class="main-container container-fluid">
      <router-outlet></router-outlet>
    </div>

    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted">© {{year}} Crud Demo by Cristian Antivero</span>
        </div>
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
</div>