<div class="container">
    <div class="row">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <ng-container *ngFor="let item of columns; let i = index">
                        <th scope="col" >{{ item.title }}</th>
                    </ng-container>
                    <ng-container *ngFor="let item of actions">
                        <th scope="col"></th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <ng-container *ngFor="let col of columns">
                        <td *ngIf="col.transform != undefined">{{ col.transform(item[col.dataProperty]) }}</td>
                        <td *ngIf="col.transform == undefined">{{ item[col.dataProperty] }}</td>
                    </ng-container>
                    <ng-container *ngFor="let action of actions">
                        <td *ngIf="action.click != undefined" class="text-center">
                            <em class="{{ action.logoClass }}" (click)="action.click(item)" data-toggle="tooltip" data-placement="top" title="{{ action.tooltip }}"></em>
                        </td>
                        <td *ngIf="action.click == undefined" class="text-center"><em class="{{ action.logoClass }}" (click)="open(item)"></em></td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>